@model Skaterer.Models.DeckProduct

@using Skaterer.Services.Products.Models
@using Skaterer.Services.Auth
@using Skaterer.Services.Products
@using Skaterer.Services.Ratings
@inject IAuthService authService
@inject IProductService productService
@inject IRatingService ratingService

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var rating = productService.GetProductRating(Model);
    var stars = 0;
    var ratings = productService.GetRatingsOfProduct(Model);
    var lastStarClass = string.Empty;
    if (rating % 1 >= 0.75)
    {
        lastStarClass = "fa fa-star star-checked";
    }
    else if (rating % 1 < 0.25)
    {
        lastStarClass = "fa fa-star-o star-unchecked";
    }
    else
    {
        lastStarClass = "fas fa-star-half-alt star-half";
    }
}

<div>
    <a class="button button-secondary" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
    <div class="row">
        <div class="col-sm-5">
            <img src="@Model.ImagePath" style="width: 100%;" />
        </div>
        <div class="col-sm-7">
            <h1>@Model.Name</h1>
            <h4>CHF @Model.Price.ToString("0.00")</h4>
            @if (productService.HasRatings(Model))
            {
                <div>
                    @for (var i = 0; i < (int)rating; i++)
                    {
                        stars++;
                        <span class="fa fa-star star-checked"></span>
                    }
                    @if ((int)rating != 5)
                    {
                        <span class="@lastStarClass"></span>
                    }
                    @for (var i = 0; i < 4 - stars; i++)
                    {
                        <span class="fa fa-star-o star-unchecked"></span>
                    }
                    <span>(@rating.ToString("0.00") Stars)</span>
                </div>
            }
            else
            {
                <div>
                    @for (var i = 0; i < 5; i++)
                    {
                        <span class="fa fa-star star-disabled"></span>
                    }
                    <span>(No Ratings)</span>
                </div>
            }
            <hr />

            @if (authService.IsAuthorized(Context))
            {
                <a class="button button-primary" asp-area="" asp-controller="ShoppingCart" asp-action="AddDeckProduct" asp-route-id="@Model.Id" style="width: 100%">Add to Shopping Cart</a>
            }
            else
            {
                <a class="button button-primary" asp-area="" asp-controller="Users" asp-action="Login" style="width: 100%">Add to Shopping Cart</a>
            }
            @if (!ratingService.UserAlreadyRatedProduct(authService.GetUserId(Context), Model.Id, ProductType.DECK))
            {
                <a class="button button-secondary" asp-area="" asp-controller="Ratings" asp-action="RateDeck" asp-route-id="@Model.Id" style="width: 100%">Rate Product</a>
            }
            <hr />

            <div class="row">
                <div class="col-sm-6">
                    <h4>Specifications</h4>
                    <dl class="row">
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Width)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Width)"
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Length)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Length)"
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Wheelbase)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Wheelbase)"
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Nose)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Nose)"
                        </dd>
                        <dt class="col-sm-6">
                            @Html.DisplayNameFor(model => model.Tail)
                        </dt>
                        <dd class="col-sm-6">
                            @Html.DisplayFor(model => model.Tail)"
                        </dd>
                    </dl>
                </div>
                <div class="col-sm-6">
                    <h4>Description</h4>
                    <p>@Model.Description</p>
                </div>
                <div class="col-sm-12">
                    <img style="width: 100%" src="https://contenthub.blue-tomato.com/site/assets/files/2625/skate-construction-1531380277.svg" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <h3>Ratings</h3>
        @if (ratings.Count() == 0)
        {
            <p>No Ratings yet. Be the first one who <a asp-area="" asp-controller="Ratings" asp-action="RateDeck" asp-route-id="@Model.Id" style="width: 100%">rates</a> the product!</p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Stars</th>
                        <th>Rating</th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var r in ratings)
                {
                    stars = 0;
                    if (r.Stars % 1 >= 0.75)
                    {
                        lastStarClass = "fa fa-star star-checked";
                    }
                    else if (r.Stars % 1 < 0.25)
                    {
                        lastStarClass = "fa fa-star-o star-unchecked";
                    }
                    else
                    {
                        lastStarClass = "fas fa-star-half-alt star-half";
                    }
                    <tbody>
                        <tr class="invisiblebutton-container">
                            <td class="col-sm-3">
                                @r.Author.Username
                            </td>
                            <td class="col-sm-3">
                                <div>
                                    @for (var i = 0; i < (int)r.Stars; i++)
                                    {
                                        stars++;
                                        <span class="fa fa-star star-checked"></span>
                                    }
                                    @if ((int)r.Stars != 5)
                                    {
                                        <span class="@lastStarClass"></span>
                                    }
                                    @for (var i = 0; i < 4 - stars; i++)
                                    {
                                        <span class="fa fa-star-o star-unchecked"></span>
                                    }
                                    <span>(@r.Stars.ToString("0.00") Stars)</span>
                                </div>
                            </td>
                            <td class="col-sm-6">
                                @r.Text
                            </td>
                            @if (authService.IsAdmin(Context) || (authService.IsAuthorized(Context) && authService.GetUsername(Context).Equals(r.Author.Username)))
                            {
                                <td class="col-sm-6">
                                    <a class="button button-danger width-100 button-round" asp-controller="Ratings" asp-action="RemoveRating" asp-route-id="@r.Id"><i class="fas fa-trash"></i></a>
                                </td>
                            }
                            else
                            {
                                <td></td>
                            }
                        </tr>
                    </tbody>
                }
            </table>
        }
    </div>

</div>
