@using Skaterer.Models
@model IEnumerable<Skaterer.Services.Products.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    @if (Model.Count() == 0)
    {
        <div class="center-site width-40">
            <i class="site-icon-danger fas fa-exclamation" style="font-size:200px"></i>
            <br><br>
            <h2 style="text-align: center;">There aren't any products. More products coming soon...</h2>
        </div>
    }
    @foreach (var item in Model)
    {
        <div class="col-sm-3" style="margin-bottom: 20px;">
            <div class="card" style="width: 100%; height: 100%">
                <img class="card-img-top" src="@item.ImagePath" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title" style="min-height: 50px">@item.Name</h5>
                    <h6 class="card-text">CHF @item.Price.ToString("0.00")</h6>
                    @if (item is DeckProduct)
                    {
                        var deckProduct = (DeckProduct)item;
                        <a class="button button-primary" style="width: 100%; margin-bottom: 0 auto" asp-action="DeckDetails" asp-route-id="@deckProduct.Id">View</a>
                    }
                    else if (item is TrucksProduct)
                    {
                        var trucksProduct = (TrucksProduct)item;
                        <a class="button button-primary" style="width: 100%; bottom: 0" asp-action="TrucksDetails" asp-route-id="@trucksProduct.Id">View</a>
                    }
                    else if (item is WheelsProduct)
                    {
                        var wheelsProduct = (WheelsProduct)item;
                        <a class="button button-primary" style="width: 100%; bottom: 0" asp-action="WheelsDetails" asp-route-id="@wheelsProduct.Id">View</a>
                    }
                    else if (item is GriptapeProduct)
                    {
                        var griptapeProduct = (GriptapeProduct)item;
                        <a class="button button-primary" style="width: 100%; bottom: 0" asp-action="GriptapeDetails" asp-route-id="@griptapeProduct.Id">View</a>
                    }
                </div>
            </div>
        </div>
    }
</div>