@using Skaterer.Models
@model IEnumerable<Skaterer.Services.Products.Models.Product>

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    float sum = 0;
}
<h1><i class="fas fa-shopping-cart"></i> Shopping Cart</h1>
<br />

<div class="row">
    @foreach (var item in Model)
    {
        sum += item.Price;
        <div class="col-md-6 col-lg-3" style="margin-bottom: 20px;">
            <div class="card bg-dark text-light smooth-shadow" style="width: 100%; height: 100%">
                <img class="card-img-top" src="@item.ImagePath" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title" style="min-height: 75px">@item.Name</h5>
                    <h6 class="card-text">CHF @item.Price.ToString("0.00")</h6>

                    @if (item is DeckProduct)
                    {
                        var deckProduct = (DeckProduct)item;
                        <div class="row">
                            <div class="col-md-8">
                                <a class="button button-primary width-100" style="" asp-controller="Products" asp-action="DeckDetails" asp-route-id="@deckProduct.Id">View</a>
                            </div>
                            <div class="col-md-4">
                                <a class="button button-danger button-round" style="" asp-action="RemoveDeckProduct" asp-route-id="@deckProduct.Id"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    }
                    else if (item is TrucksProduct)
                    {
                        var trucksProduct = (TrucksProduct)item;
                        <div class="row">
                            <div class="col-md-8">
                                <a class="button button-primary width-100" style="" asp-controller="Products" asp-action="TrucksDetails" asp-route-id="@trucksProduct.Id">View</a>
                            </div>
                            <div class="col-md-4">
                                <a class="button button-danger button-round" style="" asp-action="RemoveTrucksProduct" asp-route-id="@trucksProduct.Id"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    }
                    else if (item is WheelsProduct)
                    {
                        var wheelsProduct = (WheelsProduct)item;
                        <div class="row">
                            <div class="col-md-8">
                                <a class="button button-primary width-100" style="" asp-controller="Products" asp-action="WheelsDetails" asp-route-id="@wheelsProduct.Id">View</a>
                            </div>
                            <div class="col-md-4">
                                <a class="button button-danger button-round" style="" asp-action="RemoveWheelsProduct" asp-route-id="@wheelsProduct.Id"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    }
                    else if (item is GriptapeProduct)
                    {
                        var griptapeProduct = (GriptapeProduct)item;
                        <div class="row">
                            <div class="col-md-8">
                                <a class="button button-primary width-100" style="" asp-controller="Products" asp-action="GriptapeDetails" asp-route-id="@griptapeProduct.Id">View</a>
                            </div>
                            <div class="col-md-4">
                                <a class="button button-danger button-round" style="" asp-action="RemoveGriptapeProduct" asp-route-id="@griptapeProduct.Id"><i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-lg-4">
        <a asp-controller="Products" asp-action="Index">
            <input class="button button-secondary width-100" type="button" value="< Continue shopping" />
        </a>
    </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <a asp-controller="Pay" asp-action="Index">
            <input class="button button-primary width-100" type="button" value="Pay >"/>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-lg-4"> </div>
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
    <h2>Sum: @sum.ToString("0.00") CHF</h2>
    </div>
</div>

