@using Skaterer.Models
@using Skaterer.Services.Products
@model IEnumerable<Skaterer.Services.Products.Models.Product>
@inject IProductService productService

@{
    ViewData["Title"] = "Skaterer";
}

<div>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4" style="text-align: left">
            <img src="~/img/home-tall1.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-wide1.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-tall4.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-wide4.png" class="img-fluid mb-4" alt="">
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="text-align: center">
            <img src="~/img/home-wide2.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-tall2.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-wide5.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-tall5.png" class="img-fluid mb-4" alt="">
        </div>
        <div class="col-lg-4 col-md-6 mb-4" style="text-align: right">
            <img src="~/img/home-tall3.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-wide3.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-tall6.png" class="img-fluid mb-4" alt="">
            <img src="~/img/home-wide6.gif" class="img-fluid mb-4" alt="">
        </div>
    </div>

    <hr />
    <h2 class="text-dark" style="text-align: center"><i class="fas fa-star"></i> Top Articles</h2>
    <br />
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6 col-lg-3" style="margin-bottom: 20px;">
                <div class="card bg-dark text-light smooth-shadow" style="width: 100%; height: 100%">
                    <img class="card-img-top" src="@item.ImagePath" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title" style="min-height: 50px">@item.Name</h5>
                        @if (productService.HasRatings(item))
                        {
                            var rating = productService.GetProductRating(item);
                            var stars = 0;
                            var lastStarClass = string.Empty;
                            if (rating % 1 >= 0.75)
                            {
                                lastStarClass = "fa fa-star star-checked";
                            }
                            else if (rating % 1 < 0.25)
                            {
                                lastStarClass = "fa fa-star-o star-unchecked";
                            }
                            else
                            {
                                lastStarClass = "fas fa-star-half-alt star-half";
                            }
                            <div class="rating">
                                @for (var i = 0; i < (int)rating; i++)
                                {
                                    stars++;
                                    <span class="fa fa-star star-checked"></span>
                                }
                                @if ((int)rating != 5)
                                {
                                    <span class="@lastStarClass"></span>
                                }
                                @for (var i = 0; i < 4 - stars; i++)
                                {
                                    <span class="fa fa-star-o star-unchecked"></span>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="rating">
                                @for (var i = 0; i < 5; i++)
                                {
                                    <span class="fa fa-star star-disabled"></span>
                                }
                            </div>
                        }
                        <h6 class="card-text">CHF @item.Price.ToString("0.00")</h6>
                        @if (item is DeckProduct)
                        {
                            var deckProduct = (DeckProduct)item;
                            <a class="button button-primary width-100" asp-controller="Products" asp-action="DeckDetails" asp-route-id="@deckProduct.Id">View</a>
                        }
                        else if (item is TrucksProduct)
                        {
                            var trucksProduct = (TrucksProduct)item;
                            <a class="button button-primary width-100" asp-controller="Products" asp-action="TrucksDetails" asp-route-id="@trucksProduct.Id">View</a>
                        }
                        else if (item is WheelsProduct)
                        {
                            var wheelsProduct = (WheelsProduct)item;
                            <a class="button button-primary width-100" asp-controller="Products" asp-action="WheelsDetails" asp-route-id="@wheelsProduct.Id">View</a>
                        }
                        else if (item is GriptapeProduct)
                        {
                            var griptapeProduct = (GriptapeProduct)item;
                            <a class="button button-primary width-100" asp-controller="Products" asp-action="GriptapeDetails" asp-route-id="@griptapeProduct.Id">View</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
