@model IEnumerable<Skaterer.Models.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Users</h1>

<table class="table">
    <thead>
        <tr>
            <th class="col-sm-1">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th class="col-sm-4">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="col-sm-3"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="invisiblebutton-container">
            <td class="col-sm-1">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td class="col-sm-4">
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="col-sm-3 text-right">
                <a class="button button-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="button button-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="button button-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
